/* Fonts */
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('../assets/fonts/Roboto-Regular.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;

    font-family: 'Roboto';
    font-display: swap;
    src: url('../assets/fonts/Roboto-Bold.ttf') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* Custom Colors */
:root {
    --Red: hsl(4, 100%, 67%);
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
}
/* Global Styles */
body {
    background-color: var(--Blue-700);
    font-family: 'Roboto', sans-serif;
}
/* Containers Styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 37.5rem;
    height: 100svh;
    background-color: var(--White)
}

.hero_image {
    width: 100%;
    object-fit: cover;
}

/* Card Content Styles */
.card_content {
    padding: 1.8em 1.8em 0 1.8em;
    background-color: var(--White)
}

.card_info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1.8em;
}

.card_title {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--Blue-800);
}

.card_text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Blue-700);
    margin-bottom: 0.5em;
}

/* List Styles */
.card_list {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-bottom: 1.8em;
}

.card_list-text {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Blue-700);
}

.card_list, .li {
    position: relative;
    padding-left: 1.4em;
    list-style: none;
}

.li::before {
    content: url('../assets/images/icon-list.svg');
    position: absolute;
    top: 0;
    left: -1em;

    width: 21px;
    height: 21px;
}

/* Form Styles */
#card_form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-bottom: 1.8em;
}

.card_input {
    padding: 1.2em;
    font-size: 1rem;
    border-radius: 0.5em;
    border: 1px solid var(--Grey);
    outline: none;
    margin-bottom: 1em;
}

.card_input:invalid {
    border: 1px solid var(--Red);
    background-color: rgba(255, 0, 0, 0.08);
}

.card_input:placeholder-shown {
    border: 1px solid var(--Grey);
    background-color: white;
}

.card_input:invalid {
    color: var(--Red);
}

.card_label {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--Blue-800);
}

.label_wrapper {
    display: flex;
    justify-content: space-between;
}

.email_invalid {
    color: var(--Red);
    font-weight: 700;
    font-size: 0.8rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--Red);
}

#subscribe_btn {
    padding: 1.2em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--Blue-800);
    color: var(--White);
    font-size: 1rem;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease;
}

#subscribe_btn:hover,
#subscribe_btn:focus
{
    background: linear-gradient(to right, #ff5277, #ff7a3d);
}

/* Mobile Card Success Styles */

.success_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* pushes button to bottom */
    min-height: 100vh;
    padding: 2rem;

    background-color: var(--White);
}

.success_message-wrapper {
    margin-top: 8em;
    margin-bottom: auto;
    width: 100%;
    max-width: 37.5rem;
}

.success_icon {
    margin-bottom: 2.7em;
}

.success_title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--Blue-800);

    margin-bottom: 0.65em;
}

.success_text {
    color: var(--Blue-700);
}

.dismiss_btn {
    width: 100%;
    padding: 1.4em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--Blue-800);
    color: var(--White);
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
}

.dismiss_btn:hover,
.dismiss_btn:focus
{
    background: linear-gradient(to right, #ff5277, #ff7a3d);
}

.success_email {
    font-weight: 700;
    color: var(--Blue-800);
}

@media only screen and (min-width: 62rem) {
    .card_container {
        flex-direction: row;
        align-items: center;
        min-width: 60em;
        max-height: 40em;
        border-radius: 1.5em;
    }

    .card_content {
        padding: 0 3em 0 3em;
    }

    .card_title {
        font-size: 3.5em;
    }

    .card_image {
        object-fit: cover;
        order: 2;
    }

    .success_container {
        display: flex;
        flex-direction: column;
        background-color: var(--White);
        border-radius: 2em;
        min-height: 32em;

        padding: 3em;
    }

    .success_message-wrapper {
        width: 100%;
        max-width: 25rem;
        margin: 0 auto;
    }

    #card_form {
        margin-bottom: 0;
    }

    .card_info {
        margin-bottom: 1.2em;
    }

    .success_title {
        font-size: 3rem;
    }

    .success_text {
        margin-bottom: 2em;
    }

    .dismiss_btn {
        padding: 1.5em;
    }
}

@media only screen and (min-width: 48rem) and (max-width: 61.938rem) {
    .card_container {
        width: 80%;
        border-radius: 1em;

        max-height: fit-content;
    }

    .card_content {
        padding: 2em;
        border-radius: 1em;
    }

    .success_container {
        min-height: 40em;
        width: 60%;
        border-radius: 1em;
    }

    .success_message-wrapper {
        margin-top: auto;
        margin-bottom: auto;
        padding: 2.5em;
    }

    .dismiss_btn {
        margin-bottom: 1em;
    }

}

/* Hidden Class */
.hidden {
    display: none;
}

/* Footer Styles */
.attribution {
    display: none;
}

.attribution a {
    text-decoration: none;
    color: var(--Red);
}